.container{
  border: 2px solid black ;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
  padding: 10px;
  color: white;

}

.change-area{
  border: 1px dotted white;
}

a{
  color: white;
}
